.loginPanel p{
    color: #E8E8E8;
    font-family: 'Contrail One';
    font-size: 18px;
}

.logo{
    padding-bottom: 50px;
}

.form-control{
    color: #E8E8E8;
}

.homeBoard{
    font-family: 'Contrail One';
}

.homeBoard h4{
    color: #E8E8E8;
}

.homeBoard Button{
    margin-right:40px;
}

.controlPanel{
    margin : auto -102% auto -202%;
}

.jobBoard{
    margin : auto -202% auto -202%;
}